{{!< default}}

{{#page}}
<div class="content">
    <article class="h-entry">
        {{#if @page.show_title_and_feature_image}}
            <header class="post-meta">
                <h1 class="post-heading">{{title}}</h1>
            </header>
            
            {{#if feature_image}}
                <div class="post-feature-image">
                    <img src="{{feature_image}}" alt="{{title}}" />
                </div>
            {{/if}}
        {{/if}}
        
        <div class="gh-content">
            {{{html}}}
        </div>
    </article>
</div>
{{/page}} 